<html>

<head>
    <title>Hello, world</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
</head>

<body>
    <h1>Hello Ansible #3 !!!!!!!</h1>

    <button onclick="fetchMessage()">Fetch Message</button>
    <p id="message">Click on the button to fetch the message.</p>
</body>

</html>
